<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/overwrite.css">
</head>
<body>
    
    <main>

        <h1>Authenticate</h1>

        <form method="POST" action='authenticate/login'>
            <h2>Login</h2>
            <input type="text" name="email" value="brigitta@yahoo.com">
            <input type="text" name="password" value="password">
            <button type="submit">Login</button>
        </form>

        <form method="POST" action='authenticate/signup'>
            <h2>Signup</h2>
            <input type="text" name="emailSignup" value="brigitta1@yahoo.com">
            <input type="text" name="passwordSignup" value="password">
            <input type="text" name="proffesion" value="Frontend Developer">
            <input type="text" name="experience" value="2">
            <input type="text" name="interests" value="HTML5, CSS3, JavaScript">
            <button type="submit">Signup</button>
        </form>

    </main>

</body>
</html>